<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="row">
  <div class="col-md-7">    
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-10">
              <h4>Entities</h4>
            </div>
            <div class="col-md-2">  
              <button class="btn btn-link" (click)="onAddItem()">Add Entity</button>
            </div>
          </div>
        </div>
        <div class="panel-body">    
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover" id="myTable">
              <thead><tr><th>Entity Type</th><th></th><th></th><th></th></tr></thead>
              <tbody>
              <tr *ngFor="let entity of entities; let i = index" [attr.data-index]="i">
                <td width="20%">{{ entity.entityType }}</td>
                <td width="10%">
                  <a style="cursor: pointer" (click)="manageInput(entity)">Input</a>
                </td>
                <td width="5%">
                  <a title="Edit" style="cursor: pointer" (click)="onEditItem(entity)"><i class="glyphicon glyphicon-edit"></i></a>
                </td>
                <td width="5%">
                  <a title="Delete" style="cursor: pointer" (click)="onDeleteEntity(i)"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
              </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-5">
    <div *ngIf="iFlag==true" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h4>Inputs - {{editedItem.entityType}}</h4>
          </div>
          <div class="col-md-4">  
            <button class="btn btn-link" (click)="reloadTraining()">Refresh Training</button>
          </div>
        </div>
      </div>

      <div class="panel-body" *ngIf="editedItem.repository=='local'">    
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                  <input type="text" placeholder="Your input" [(ngModel)]="inputItem.text" class="form-control">
                </div>
            </div>      
            <div *ngIf="editMode==false" class="col-md-2">
                <button class="btn btn-primary" (click)="onSaveInput()">Add</button>
            </div>
            <div *ngIf="editMode==true" class="col-md-2">
                <button class="btn btn-primary" (click)="onSaveInput()">Save</button>
            </div>
        </div>   
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover" id="queryTable">
              <tbody>
              <tr *ngFor="let input of editedItem.input; let i = index" [attr.data-index]="i">
                <td width="90%">{{ input.text }}</td>
                <td width="5%">
                  <a title="Edit" style="cursor: pointer" (click)="onEditInput(input)"><i class="glyphicon glyphicon-edit"></i></a>
                </td>
                <td width="5%">
                  <a title="Delete" style="cursor: pointer" (click)="onDeleteEntityInput(i)"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class="panel-body" *ngIf="editedItem.repository=='remote'">    
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover" id="queryTable">
              <thead><tr><th>Remote Entity</th></tr></thead>
              <tbody>
              <tr *ngFor="let input of remoteEntity; let i = index" [attr.data-index]="i">
                <td>{{ input.clsname }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>