<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Wink Configurator</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/intent">Intent</a></li>
        <li routerLinkActive="active"><a routerLink="/entity">Entity</a></li>
        <li routerLinkActive="active"><a routerLink="/response">Dialog</a></li>
        <li routerLinkActive="active"><a routerLink="/nlp">Chat Bot</a></li>
        <li routerLinkActive="active"><a routerLink="/sdata">Sample Data</a></li>
      </ul>
    </div>
  </div>
</nav>